.git
.next
node_modules
.venv
data
prisma/data

sandbox/.git
sandbox/.next
sandbox/node_modules

.env
.env.local
.env*.local

*.log
npm-debug.log*
.DS_Store
Thumbs.db
.vscode
.idea

coverage
dist
out
sandbox/out
sandbox/coverage
sandbox/dist

sandbox/public/images/*.png
!sandbox/public/images/*-base.png
